/*
Playfair Display  
font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  Poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
  */

h1 {
    font-family: "playfair Display", serif;
    font-weight: 700;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
